@model HomeViewModelArea
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Author</h1>
            <a asp-action="create" style="float:right" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Book Count</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Author item in Model.Authors)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td >@item.FullName</td>
                            <td>@item.Books.Count()</td>
                            <td>
                                <img width="100" src="~/uploads/authors/@item.Image" />
                            </td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="delete" asp-route-id="@item.Id"  class="btn btn-danger delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mx-auto">
                @if (Model.PagenatedAuthors.HasPrev)
                {
                    <li>
                        <a asp-action="index" asp-controller="author" asp-route-page="@(Model.PagenatedAuthors.PageIndex-1)" class="single-btn prev-btn ">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.PagenatedAuthors.TotalPages; i++)
                {
                    <li class="@(Model.PagenatedAuthors.PageIndex==i?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                @if (Model.PagenatedAuthors.HasNext)
                {

                    <li>
                        <a asp-action="index" asp-controller="book" asp-route-page="@Model.PagenatedAuthors.TotalPages" class="single-btn next-btn">
                            <i class="zmdi zmdi-chevron-right"></i>|
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}
