@model HomeViewModelArea
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Genres</h1>
            <a asp-action="create" style="float:right" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Setting item in Model.Settings)
                    {
                     
                        <tr>
                            <th scope="row">@Model.PagenatedSettings.PageIndex</th>
                            <td colspan="2">@item.Key</td>
                            <td>@item.Value</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a>
                                <a class="btn btn-danger delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mx-auto">
                @if (Model.PagenatedSettings.HasPrev)
                {
                    <li>
                        <a asp-action="index" asp-controller="setting" asp-route-page="@(Model.PagenatedSettings.PageIndex-1)" class="single-btn prev-btn ">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.PagenatedSettings.TotalPages; i++)
                {
                    <li class="@(Model.PagenatedSettings.PageIndex==i?"active":"")"><a class="page-link" asp-controller="setting" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                @if (Model.PagenatedSettings.HasNext)
                {

                    <li>
                        <a asp-action="index" asp-controller="setting" asp-route-page="@Model.PagenatedSettings.TotalPages" class="single-btn next-btn">
                            <i class="zmdi zmdi-chevron-right"></i>|
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}

