@model HomeViewModelArea
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Slider Index</h1>
            <a asp-action="create" style="float:right" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title1</th>
                        <th scope="col">Title2</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Slider item in Model.Slider)
                    {
                        <tr>
                            <th>@Model.PagenatedSliders.PageIndex</th>
                            <td>@item.Title1</td>
                            <td>@item.Title2</td>
                            <td>
                                <img width="100" src="~/uploads/sliders/@item.Image" />
                            </td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mx-auto">
                @if (Model.PagenatedSliders.HasPrev)
                {
                    <li>
                        <a asp-action="index" asp-controller="slider" asp-route-page="@(Model.PagenatedSliders.PageIndex-1)" class="single-btn prev-btn ">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.PagenatedSliders.TotalPages; i++)
                {
                    <li class="@(Model.PagenatedSliders.PageIndex==i?"active":"")"><a class="page-link" asp-controller="slider" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                @if (Model.PagenatedSliders.HasNext)
                {

                    <li>
                        <a asp-action="index" asp-controller="slider" asp-route-page="@Model.PagenatedSliders.TotalPages" class="single-btn next-btn">
                            <i class="zmdi zmdi-chevron-right"></i>|
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}
