@model HomeViewModelArea
@{
    ViewData["Title"] = "Index";
    int count = (ViewBag.SelectedPage - 1) * 8;
    int totalpage = ViewBag.TotalPage;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Feature</h1>
            <a asp-action="create" style="float:right" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Title</th>
                        <th scope="col">Text</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Feature item in Model.Features)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td colspan="2">@item.Icon</td>
                            <td colspan="2">@item.Title</td>
                            <td colspan="2">@item.Text</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a>
                                <a class="btn btn-danger delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mx-auto">
                @if (Model.PagenatedFeatures.HasPrev)
                {
                    <li>
                        <a asp-action="index" asp-controller="feature" asp-route-page="@(Model.PagenatedFeatures.PageIndex-1)" class="single-btn prev-btn ">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.PagenatedFeatures.TotalPages; i++)
                {
                    <li class="@(Model.PagenatedFeatures.PageIndex==i?"active":"")"><a class="page-link" asp-controller="feature" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                @if (Model.PagenatedFeatures.HasNext)
                {

                    <li>
                        <a asp-action="index" asp-controller="feature" asp-route-page="@Model.PagenatedFeatures.TotalPages" class="single-btn next-btn">
                            <i class="zmdi zmdi-chevron-right"></i>|
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}