@model List<Book>
@{
    ViewData["Title"] = "Index";
    int count = (ViewBag.SelectedPage - 1) * 8;
    int totalpage = ViewBag.TotalPage;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Books</h1>
            <a asp-action="create" style="float:right" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">SalePrice</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Book item in Model)
                    {
                        count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Name</td>
                        <td>
                        <img width="100" src="~/uploads/books/@(item.NewBookImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image)" />
                        </td>
                        <td>@item.SalePrice</td>
                        <td>
                            <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mx-auto">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                @for (int i = 1; i < totalpage; i++)
                {
                    <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}

