@model HomeViewModelArea
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Genres</h1>
            <a asp-action="create" style="float:right" class="btn btn-primary">Create new</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Book Count</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Genre item in Model.Genres)
                    {
                        
                        <tr>
                            <th scope="row">@Model.PagenatedGenres.PageIndex</th>
                            <td  colspan="2">@item.Name</td>
                            <td>@item.Books.Count()</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a>
                                <a data-id="@item.Id" data-x="genre" class="btn btn-danger delete-btn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example ">
            <ul class="pagination mx-auto">
                @if (Model.PagenatedGenres.HasPrev)
                {
                    <li>
                        <a asp-action="index" asp-controller="genre" asp-route-page="@(Model.PagenatedGenres.PageIndex-1)" class="single-btn prev-btn ">
                            <i class="zmdi zmdi-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.PagenatedGenres.TotalPages; i++)
                {
                    <li class="@(Model.PagenatedGenres.PageIndex==i?"active":"")"><a class="page-link" asp-controller="genre" asp-action="index" asp-route-page="@i">@i</a></li>
                }
                @if (Model.PagenatedGenres.HasNext)
                {

                    <li>
                        <a asp-action="index" asp-controller="genre" asp-route-page="@Model.PagenatedGenres.TotalPages" class="single-btn next-btn">
                            <i class="zmdi zmdi-chevron-right"></i>|
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}